
<div class="container">
    <div class="menu-game">
        <a mat-raised-button routerLink="/">Regresar al menu</a>
        <span>{{ buscaminas.bombsLeft }} minas restantes</span>
        <button mat-raised-button color="primary" (click)="resetGame()">Reiniciar juego</button>
    </div>
    <div class="game-container">
        <div class="row" *ngFor="let fieldRow of buscaminas.fields; let i = index;">
            <app-mina [mina]="field" (mineCliked)="onMineClicked($event)" (mineOpened)="onMineOpened($event)" *ngFor="let field of fieldRow; let j = index;" [row]="i" [col]="j"></app-mina>
        </div>
    </div>
</div>
